/* Users.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .inputGroup {
    margin-bottom: 10px;
  }
  
  .inputLabel {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .inputField {
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 300px;
  }
  
  .button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button-primary {
    background-color: #007bff;
    color: #fff;
  }
  
  .button-primary:hover {
    background-color: #0056b3;
  }
  
  .button-add {
    background-color: #ac69d8;
    color: #fff;
    margin-right: 10px;
  }
  
  .button-add:hover {
    background-color: #218838;
  }
  
  .button-delete {
    background-color: #ac69d8;
    color: #fff;
    margin-right: 10px;
    margin-bottom: 5px;
  }
  
  .button-delete:hover {
    background-color: #c82333;
  }
  
  .button-update {
    background-color: #8744c7;
    color: #fff;
    margin-bottom: 5px;
  }
  
  .button-update:hover {
    background-color: #e0a800;
  }
  
/* List View Styles */
.listContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.headerRow {
  display: flex;
  background-color: transparent;
  padding: 12px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 8px;
}

.headerCell {
  flex: 1;
  text-align: center;
  padding: 8px;
  border-right: 1px solid #3d3b3b;
  color: #333;
}

.headerCell:last-child {
  border-right: none;
}

.listView {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.listItem {
  color: #333;
  display: flex;
  /* border-bottom: 1px solid #131212; */
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: transparent;
}

.listCell {
  flex: 1;
  /* Each list cell takes up equal space */
  /* text-align:center; */
  margin-left: 50px;
  align-content: space-evenly;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.button-group-list {
  display: flex;
  gap: 20px; /* Adjust gap for spacing between buttons */
  margin-top: 10px;
  justify-content: center;
}

.listItem h2 {
  font-size: 18px;
  color: #333;
}

/* Card View Styles */
.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
    width: 100%;
    max-width: 1200px;
}

/* View Toggle Button Styles */
.view-toggle {
  margin-bottom: 10px;
  text-align: center;
  /* Aligns content to the right */
}

.view-toggle button {
  padding: 8px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.view-toggle button:hover {
  background-color: #0056b3;
  /* Ensure proper color value */
}